<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h2>Devmare Company</h2>
<hr>
Welcome to Devmare company home page.
<hr>

<!-- Display username and role -->
<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>
<hr>

<!-- Add a logout button -->
<form action="#" method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>